# Logs
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
public/
public/Release
public/bundle.js
public/index.html

# Dependency directories
node_modules/


# Optional npm cache directory
.npm
